@import "normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-txt: #151F26;
  --color-bg: #F9EDE4;
  --color-primary: #CFDFDE;
}

body {
  font-family: system-ui;
  background-color: var(--color-bg);
  color: var(--color-txt);
}

main {
  max-width: 1440px;
  margin: 0 auto;

  & > div {
    display: flex;
    position: relative;
    height: 100%;
  
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    
    & > .left, & > .right {
      position: relative;
      min-width: min(100vw, 100%);
      height: 100%;
    
      scroll-snap-align: start;
    }
  }
}


h1, .large {
  font-size: 11rem;
  font-weight: bold;
  line-height: 0.92;
  margin: 0;
}


.header {
  position: absolute;
  left: 50%;
  top: 4rem;

  font-size: 0.875rem;
  font-weight: bold;

  transform: translateX(-50%);

  & hr {
    position: absolute;
    top: 50%;
    left: 6.5rem;

    height: 1px;
    width: 46vw;

    margin: 0;

    background-color: var(--color-txt);
    opacity: .2;
  }
}

/*  */
.left {
  & .bg {
    position: absolute;
    right: 0;
    bottom: 0;

    height: 83%;
    width: 73%;

    border-top-left-radius: 98px;
    background-color: var(--color-primary);
    z-index: -1;
  }

  & .circle {
    z-index: 3;

    position: absolute;
    right: 0;
    bottom: 11.25rem;

    width: 30rem;
    height: 30rem;

    border-radius: 50%;
    background-color: var(--color-bg);
    opacity: 0.7;

    transform: translateX(40%);
  }

  & + img {
    position: absolute;
    left: 45%;
    z-index: 1;
  }
}

.right {
  & img {
    position: absolute;
    right: 0;
    z-index: -1;
  }

  & .bg {
    position: absolute;
    right: 0;
    bottom: 0;

    height: 83%;
    width: 100%;

    background-color: var(--color-primary);

    z-index: -1;
  }
}

.text {
  z-index: 3;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  height: 100%;
  min-width: min(200vw, 200%);

  padding: 0 17.8rem 11.25rem 10rem;

  & .text-left {

    & > p {
      font-size: 1.125rem;
      line-height: 1.44;
      margin: 3rem 0 0;
      max-width: 27rem;
    }
  }

  & .text-right {
    text-align: right;
  }
}